<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PP5 Password Checker</title>


        <link rel="stylesheet" href="/styles/passwordChecker.css">
        <script src="/passwordChecker.js" defer></script>

    <!--Code authors Xalli Bell & Emily Menken-->


</head>

<body>
    
    <h1>Password Checker!</h1>

    <!--Text input box-->
    <label>Enter your password: 
        <input type="text" id="password" placeholder="Ex: V3ryStrongP@ssword">
    </label>

    <!--Button labeled "Check Password"-->
    <button id="click">Check Password</button>

    <!--Display results in a <div> or <p>-->
    <p id="output"></p>
  
    </body>
</html>